.carbon-wrap {
  display: block;
  background: $gray-300;
  padding: 1em;
  max-width: 20em;
}
.carbon-wrap a {
  display: block;
}

.carbon-img {
  float: left;
  margin-right: 10px;
}

.carbon-text {
  font-size: 80%;
  line-height: 130%;
  min-width: 120px;
}

.carbon-poweredby {
  color: #6e6e6e;
  text-decoration: underline;
  font-size: 65%;
  font-style: italic;
  text-align: center;
  display: block;
  margin: 0.5em 0 0 0;
}

.cf:before,
.cf:after,
.carbon-wrap:before,
.carbon-wrap:after {
  content: "";
  display: table;
}
.cf:after,
.carbon-wrap:after {
  clear: both;
}
.cf,
.carbon-wrap {
  zoom: 1;
}
