$font-family-sans-serif: "fira sans", ubuntu, sans-serif;
$font-family-monospace: "fira mono", monospace;
$blue: #2a7abb;

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #222529 !default;
$gray-900: #16191b !default;

$border-radius: 0;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1.25rem !default;
$h5-font-size: 1.15rem !default;
$h6-font-size: 1rem !default;

$lead-font-size: 1.5rem;
$lead-font-weight: 300;

$headings-line-height: 1.5;
$headings-font-weight: 400;

$body-color: $gray-700;
$headings-color: $gray-800;
